@reference "../../app/theme.css";

.section {
  @apply flex flex-col gap-6;
}

.submitRow {
  @apply flex justify-end;
}

.statusBanner {
  @apply rounded-md px-4 py-2 text-sm font-medium;
}

.statusSuccess {
  @apply bg-green-50 text-green-800;
}

.statusError {
  @apply bg-red-50 text-red-800;
}
