name: ci

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: "latest"

      - name: Install
        run: bun install

      - name: Lint
        run: bun run lint

      - name: Test
        run: bun run test

      - name: Install Playwright Browsers
        run: bunx playwright install --with-deps

      - name: Test (E2E)
        run: bun run test:e2e

      - name: Build
        run: bun run build

  vercel_preview:
    runs-on: ubuntu-latest
    needs: verify
    if: github.event_name == 'pull_request' && secrets.VERCEL_TOKEN != ''
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Vercel Preview
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  vercel_production:
    runs-on: ubuntu-latest
    needs: verify
    if: github.ref == 'refs/heads/main' && secrets.VERCEL_TOKEN != ''
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Vercel Production
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          prod: true
