@reference "../../app/theme.css";

.grid {
  @apply grid grid-cols-1 gap-4 md:grid-cols-2;
}

.fullWidth {
  @apply md:col-span-2;
}

.row3 {
  @apply grid grid-cols-1 gap-4 md:grid-cols-3 md:col-span-2;
}
